@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: var(--font-geist-sans), sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background-color: #f9fafb; 
  color: #333; 
}

:root {
  --font-geist-sans: "Geist Sans", sans-serif;
  --font-geist-mono: "Geist Mono", monospace;
}
